* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    box-sizing: border-box;
}

body {
    background-color: #ffe3f8;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff71cc;
    /*border: 2px dashed cyan;*/
    position: sticky;
    z-index: 1;
    top: 2vh;
    border-radius: 35px;
    color: white;
    width: 100vw;
    height: 8vh;
}

.body {
    background: #ffe3f8;
    /*border: 2px dashed yellow;*/
    height: fit-content;
}

header nav a {
    position: relative;
    bottom: auto;
    left: 5vw;
    text-decoration: none;
    color: #ffe3f8;
    font-weight: bold;
    font-size: 5vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: #b8b8b8;
    font-weight: 700;
    text-align: center;
}

.body .slider {
    background: #ffe3f8;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    padding: 5vh 5vw;
}

.def {
    padding-top: 2vw;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    margin-top: 7vh;
    width: 20vw;
    height: 38vw;
    border: 3px dashed pink;
    padding: 3vw;
}

.image-size {
    width: 15vw;
}

.bigger-image-size {
    height: 30vh;
}

@media only screen and (max-width: 1200px) {
    .body .slider {
        flex-direction: column;
    }

    .imgs {
        height: fit-content;
        width: fit-content;
        padding: 8vh 5vw;
    }

    .image-size {
        width: 35vw;
    }

    .bigger-image-size {
        height: auto;
        width: 12vw;
    }
  }